div#add-articles
	h3 Добавить статью
	form.form.form-add-article.well(method="POST" )
		div.row
			div.form-group.col-md-6.col-xs-6
				label.control-label(for='title-articles') Название статьи
				input#title-articles.form-control(type='text', name="titleArticles" required="")

			div.form-group.col-md-6.col-xs-6
				label.control-label(for='name-category') Выберите категорию
				select#name-category(name="nameCategory" required="").form-control
					option Выберите
					-each category in categories
						option(value="#{category._id}")= category.title

		div.row
			div.form-group.col-md-12.col-xs-12
				label.control-label(for='title-articles') Описание статьи
				textarea#description-articles.form-control.js-wysihtml5(name="descriptionArticles" required="")

		div.row
			div.form-group.clearfix.col-md-12.col-xs-12
				button.btn.btn-info(type='submit').right Добавить статью

