header.navbar.navbar-inverse.navbar-fixed-top.js-scroll-to(role='navigation')
	.container-fluid.clearfix
		-if ( pathname == '/')
			span.navbar-brand
				img(src="/images/logo.png" alt="#{title}" title="#{title}")
			span.navbar-brand __Docs__
		-else
			a(href="/")
				span.navbar-brand
					img(src="/images/logo.png" alt="#{title}" title="#{title}")
				span.navbar-brand __Docs__

